<div class="w-full h-[100px] flex bg-gray-100 rounded-lg">
    <div class="rounded-l-lg h-[100px] w-[100px]">
        <%= image_tag post.cover_image_url_url, class: "w-full h-[100px] object-cover rounded-l-lg" %>
    </div>
    <div class="ml-2 w-[83%]">

        <%= link_to "#{post.title}", post_path(post.id), class: "text-2xl text-black font-[500]"%>

        <div class="my-2 text-black text-[14px] font-[300]">
            <%= display_tags(post.tags) %>
        </div>
        <div class="my-2 text-black font-[300] flex justify-end">
            <span class="text-[14px]"><%= published_time(post.created_at) %></span>
        </div>
    </div>
</div>