<div class="grid grid-cols-6 gap-4">
    <div class="col-span-4 h-[200px]">

        <% content_for :title, "Posts" %>

        <% @posts.each do |post| %>
            <%= render 'postItem', post: post %>
        <% end %>
    </div>
    <div class="col-span-2 h-auto">
        <div class="h-[250px]">
            <%= image_tag @user.image_url, 
            class: "w-full h-[250px] object-cover rounded-t-lg" %>
        </div>
        <div class="text-[14px] mt-2">
            Full-stack Developer
        </div>
        <div class="mt-2">
            <span class="px-[10px] py-[5px] rounded-lg border-[1px] border-green-500 mr-2">Javascript</span>
            <span class="px-[10px] py-[5px] rounded-lg border-[1px] border-green-500 mr-2">React</span>
            <span class="px-[10px] py-[5px] rounded-lg border-[1px] border-green-500 mr-2">RoR</span>
        </div>
        <div class="mt-2 text-[14px]">
            Feel free to <a href="#" class="text-blue-600">connect with me</a>
        </div>
    </div>
</div>