<div class="md:w-[50%] w-full px-2 md:px-0 m-auto h-auto pb-6">
    <div class="h-[350px] bg-red-300 rounded-t-lg">
        <%= image_tag @user.image_url, 
            class: "w-full h-[350px] object-cover rounded-t-lg" %>
    </div>
    <div class="flex justify-between my-2">
        <span class="text-xl"> <%= @user.username %> </span>
        <span class="text-[14px]">My portfolio</span>
    </div>
    <div class="text-[14px] mt-2">
        Full-stack Developer
    </div>
    <div class="flex flex-wrap text-[14px] font-[500]">  
            <%= @user.skills %>
    </div>
    <div class="mt-2 text-[14px] text-gray-800">
        <%= @user.bio %> Feel free to <a href="#" class="text-blue-600">connect with me</a>
    </div>
</div>