<div class="w-[50%] m-auto h-auto pb-6">
    <div class="h-[350px] bg-red-300 rounded-t-lg">

    </div>
    <div class="flex justify-between my-2">
        <span class="text-xl">username</span>
        <span class="text-[14px]">My portfolio</span>
    </div>
    <div class="text-[14px] mt-2">
        Full-stack Developer
    </div>
    <div class="mt-2">
        <span class="px-[10px] py-[5px] rounded-lg border-[1px] border-green-500 mr-2">Javascript</span>
        <span class="px-[10px] py-[5px] rounded-lg border-[1px] border-green-500 mr-2">React</span>
        <span class="px-[10px] py-[5px] rounded-lg border-[1px] border-green-500 mr-2">RoR</span>
    </div>
    <div class="mt-2 text-[14px] text-gray-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi praesentium, 
        deleniti accusantium 
        ipsam rerum corporis quis quisquam officia amet. Dolores quam sit itaque perspiciatis 
        odio? Quae tenetur est sed eius. Feel free to <a href="#" class="text-blue-600">connect with me</a>
    </div>
</div>